{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Tus Pendientes</h1>

    <h2 class="mt-4">Paquetes Pendientes</h2>
    <ul>
        {% for paquete in paquetes_pendientes %}
        <li>
            {% if paquete.proveedor %}
                Paquete de {{ paquete.proveedor.nombre }} - Fecha Estimada: {{ paquete.fecha_estimacion }}
            {% else %}
                Paquete inesperado - Fecha de Llegada: {{ paquete.fecha_anuncio }}
            {% endif %}
        </li>
        {% empty %}
        <p>No tienes paquetes pendientes.</p>
        {% endfor %}
    </ul>

    <h2 class="mt-4">Domicilios Pendientes</h2>
    <ul>
        {% for domicilio in domicilios_pendientes %}
        <li>
            {% if domicilio.proveedor %}
                Domicilio de {{ domicilio.proveedor.nombre }} - Producto: {{ domicilio.nombre_producto }}
            {% else %}
                Domicilio inesperado de la empresa {{ domicilio.proveedor.nombre }}
            {% endif %}
        </li>
        {% empty %}
        <p>No tienes domicilios pendientes.</p>
        {% endfor %}
    </ul>

    <h2 class="mt-4">Visitas por confirmar</h2>
    <ul>
        {% for visita in visitas_no_anunciadas %}
        <li>
            Visita de {{ visita.nombre_visitante }} {{ visita.apellido_visitante }} - Fecha: {{ visita.fecha_visita }}
            <p class="text-success">Visita inesperada</p>
        </li>
        {% empty %}
        <p>No tienes visitas no anunciadas pendientes.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
