{% extends 'base.html' %}

{% block content %}



<h2>Panel de Administración</h2>
<a href="{% url 'crear_anuncio' %}" class="btn btn-primary mb-3">Crear Nuevo Anuncio</a>

<title>Administración</title>

  <h2>Lista de Usuarios</h2>
  <a href="{% url 'crear_usuario' %}" class="btn btn-primary">Crear Nuevo Usuario</a>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.id_rol.nombre }}</td>
          <td>
            <a href="{% url 'editar_usuario' usuario.id %}" class="btn" style="color: #149981;">Editar</a>
            <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn" style="color: #0d4f43;">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
